footer {
    margin-top: 10rem;
    padding: 3rem 0;
    background: $very-dark-grayish-blue;
  }
  
  .footer {
    margin-top: 0; /* override the container margin*/
    color: $white;
    @media only screen and (max-width: 850px) {
      width: 90%;
    }
    &__line {
      font-size: 2.2rem;
    }
    &__credits {
      font-size: 1.5rem;
      margin: 1rem 0;
    }
  }
  
  .link {
    color: $cyan;
  }
  