/* Primary Colors */

$very-dark-grayish-blue: hsl(217, 19%, 35%);
$desaturated-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);

/* Secondary Colors */
$white: #fff;
$cyan: cyan;

/* Font Weights */
$medium: 500;
$bold: 700;

/* Shadows*/
$light: 0 2px 10px rgba(0, 0, 0, 0.4);
